<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <style>
    h1 {color: red;}
  </style>
</head>
<body>
  <div class="mail-wrapper">
    <h1>{{title}}</h1>
    <p>{{parag1}}</p>
    <p>{{message}}</p>
    <p>{{parag2}}</p>
    <p>{{footer}}</p>
  </div>
</body>
</html>